<aside class="sidebar">
        
    {% if page.download %}
        <div aria-label="download links" class="sidebar-section">
            <h5><span>Resources</span></h5>
            {% if site.github.repository_url %}
            <a class="btn btn-primary btn-lg col-12 mb-3" href="{{ site.github.repository_url }}" rel="noopener noreferrer">View on GitHub <i class='fab fa-github'></i></a>
            {% endif %}
            {% if page.download.url %}
            <a class="btn btn-primary btn-lg col-12 mb-3" href="{{ page.download.url }}" rel="noopener noreferrer">Download <i class='fas fa-cloud-download-alt'></i></a>
            {% elsif site.github.latest_release %}
            <a class="btn btn-primary btn-lg col-12 mb-3" href="{{ site.github.latest_release.html_url }}" rel="noopener noreferrer">Latest Release</a>
            <div style="display:flex;flex-wrap: wrap;justify-content: space-between;">
                <div><i class='fas fa-tag'></i> {{ site.github.latest_release.tag_name }}</div>
                <div><i class='fas fa-clock'></i> <time datetime="{{ site.github.latest_release.published_at }}">{{ site.github.latest_release.published_at | date: "%b %d, %Y" }}</time></div>
                {% endif %}
                {% if site.github.license %}
                <div><i class='fas fa-balance-scale'></i> {{ site.github.license.spdx_id }} License</div>
                {% endif %}
            </div>
        </div>
    {% endif %}

    {% unless site.sidebar.recent_posts == false or page.url == "/blog/" or page.url contains "/blog/page" %}
        <!-- Featured -->
        <div aria-label="featured posts" class="sidebar-section">
            <h5><span>Featured</span></h5>
            
            <section class="featured-posts">

                <div class="row listfeaturedtag">

                {% for post in site.posts %}

                    {% if post.featured == true %}

                        {% include featuredlist.html %}

                    {% endif %}

                {% endfor %}

                </div>

            </section>
        </div>
    {% endunless %}

    {% unless page.url == "/" or page.url == "/blog/" or page.url contains "/blog/page"%}
        <!-- Recent Posts -->
        <div aria-label="recent posts" class="sidebar-section">
            <h5><span>Recent Posts</span></h5>
            
            <section class="recent-posts">

                <div class="row listfeaturedtag">

                {% for post in site.posts limit:4 %}

                        {% include featuredlist.html %}

                {% endfor %}

                </div>

            </section>
        </div>
    {% endunless %}
        
    

    <!-- {% unless page.url == "/" or page.url == "/blog/" or page.url contains "/blog/page"%}
    <div class="sidebar-section">
        <h5><span>Recommended for You</span></h5>
        <div class="addthis_relatedposts_inline"></div>
    </div>
    {% endunless %} -->

    
              
        
    
        
    <div aria-label="sidbar-ads" class="sidebar-section">
        <h6><span>Ads</span></h6>
        {% include sidebar-adsense.html %}
    </div>

    <div aria-label="partner-sites" class="sidebar-section">
        <h5><span>Partnership Sites</span></h5>
        <a href="https://www.shoaiybsysa.ga/" target="_blank">
            {% include picture.html img="partnership-sites.png" width="200" height="67" alt="shoaiyb sysa logo" source="assets" lightbox=false %}
        </a>
        
                
            
        
    
        
</aside>
